<footer class="ftco-footer ftco-section img" style="background-color: #000000; padding: 7em 0; color: rgba(255,255,255,0.7);">
    <div class="container">
        <div class="row mb-5">
            
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 text-white text-uppercase mb-4" style="font-size: 16px; font-weight: 700; letter-spacing: 1px;">About Us</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5 d-flex">
                        <li class="ftco-animate mr-3"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate mr-3"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 text-white text-uppercase mb-4" style="font-size: 16px; font-weight: 700; letter-spacing: 1px;">Recent Blog</h2>
                    
                    <div class="block-21 mb-4 d-flex" *ngFor="let post of footerPosts">
                        <a class="blog-img mr-4" [style.backgroundImage]="'url(' + post.image + ')'"></a>
                        <div class="text">
                            <h3 class="heading" style="font-size: 15px; line-height: 1.4;"><a href="#">{{ post.title }}</a></h3>
                            <div class="meta" style="font-size: 12px; color: gray;">
                                <div><a href="#"><span class="icon-calendar"></span> {{ post.date }}</a></div>
                                <div><a href="#"><span class="icon-person"></span> {{ post.author }}</a></div>
                                <div><a href="#"><span class="icon-chat"></span> {{ post.comments }}</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2 text-white text-uppercase mb-4" style="font-size: 16px; font-weight: 700; letter-spacing: 1px;">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Cooked</a></li>
                        <li><a href="#" class="py-2 d-block">Deliver</a></li>
                        <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                        <li><a href="#" class="py-2 d-block">Mixed</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 text-white text-uppercase mb-4" style="font-size: 16px; font-weight: 700; letter-spacing: 1px;">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul class="list-unstyled">
                            <li class="mb-3 d-flex"><span class="icon mr-3 text-white">📍</span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                            <li class="mb-3 d-flex"><a href="#"><span class="icon mr-3 text-white">📞</span><span class="text">+2 392 3929 210</span></a></li>
                            <li class="mb-3 d-flex"><a href="#"><span class="icon mr-3 text-white">✉️</span><span class="text">info@yourdomain.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>